/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
_ide_helper_models.php
/mix-manifest.json
public/assets/jtable_data/
/0_frontend_new/.npmrc
/~$i document.docx
/public/uploads/courses/2JNyzdVpPT.jpeg
/public/uploads/courses/3nHcxuyjyD.jpeg
/public/uploads/courses/Ade3T3lKAo.jpeg
/public/uploads/users/BXBKY8wkjQ.jpeg
/public/uploads/users/rzIUqbPzTZ.jpeg
/public/uploads/users
/public/uploads/schools/3YRwQgikfi.png
/public/uploads/schools/7xmPTDlVVb.jpeg
/public/uploads/schools/oLwu8uQrda.jpeg
/public/uploads/schools/qfOWy3gVkm.jpeg
/public/uploads/schools/uGmnwO3yaM.png
/public/uploads/schools/z1fnX62Ta5.png
/public/uploads/schools/F7x0km9HJF.png
/public/uploads/schools/MWpcYPKCPG.jpeg
/public/uploads/schools/imEHueHCYc.jpeg
